<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kwame Brako Asante-Entrepreneur and Web Developer</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class=" topcontainer">
    <img class="topcloud" src="static/cloud.png" alt="xloud-png">
    <h1 class=intro><strong>Hi, I'm Brako</strong></h1>
    <h2 class=intro>an <strong>african</strong> entrepeneur and web developer</h2>
    <img class="bottomcloud"  src="static/cloud.png" alt="cloud-png">
  <img class= man src="static/mountain.png" alt="mountain-png">
    </div>
    <div class="middle-container">
      <div class="profile">
        <img class=dp src="static/brako.png" alt="">
        <h2 class>Hello All!</h2>
        <p>I'm African and I stand for change through web development </p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="drawing" src="static/drawing.png" alt="">
          <h3>Art In General</h3>
          <p>I have loved pencil drawing and painting since childhood. I generally draw in my free time and take online drawing classes habitually</p>
        </div>
        <div class="skill-row">
          <img class=program src="static/program.png" alt="">
          <h3> HTML/CSS development</h3>
          <p>I started coding a few months ago and have loved web development ever since. I am enrooled in Udemy and currently working on my personal website</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <img  class="dp" src="static/man.png" alt="">
        <hr >
        <h2>Get In Touch</h2>
        <h3>Got something for me?</h3>
        <p class= contactme>
          Hit me up with anything coding. I am available now if you need any help with a project.  Let's have a chat.</h3>
        </p >
        <br>
        <strong><a class="btn" href="mailto:name@email.com">CONTACT ME</a></strong>
      </div>
    </div>
  </body>


    <div class="bottom-container">
      <strong>
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    </strong>
      <p id="copyright">©2021 Kwame Brako Asante.</p>
    </div>
